.nav {
	width: 96%;
	height: 40px;
	margin: 0px 13px;
	display: block;
	background-color: lightblue;
	line-height: 40px;

}

.hamb-right {
	display: none;
}

.nav p {
	display: inline;
	position: content;
}

.hamb-left {
	display: none;
}


img {
	width: 20px;
	height: 20px;
}

.menu {
	display:inline;
	float: left;
	width: 98%;
	height: 400px;
	margin: 1% 1%;
	text-align: center;
	vertical-align: center;
	line-height: 400px;
}

.left {
	float:left;
	width: 25%;
	height: 100%;
	background-color: yellow;
	margin: 1% 1% 0% 0%;
}
.news {
	float:left;
	width: 48%;
	height: 100%;
	background-color: yellow;
	margin: 1% 1% 0% 0%;
}

.right {
	float:left;
	width: 25%;
	height: 100%;
	background-color: yellow;
	margin: 1% 0%;
}


@media screen and (max-width: 768px) {
 
.nav {
	width: 96%;
	float: left;
	margin: 0% 1%;
  }
.hamb-left {
	display: inline;
	margin: 10px;
	float: left;
}

}

.left {
	float:left;
	width: 32%;
	height: 100%;
	background-color: yellow;
	margin: 1% 1% 0% 0%;
}	
.news {
	float:left;
	width: 65%;
	height: 100%;
	background-color: yellow;
	margin: 1% 1% 0% 0%;

  }
.right {
    display: none;
  }
@media screen and (max-width: 425px) {
	
.nav {
	width: 96%;
	margin: 0% 1%;
	line-height: 40px;
	text-align: center;
	vertical-align: center;
}

.hamb-left {
	display: inline;
	margin: 10px;
	float: left;
}

.hamb-right {
	display: inline;
	margin: 10px;
	float: right;
}

.nav p {
	margin: 0 auto;
}

.hamb-right {
	display: inline;
	float: right;
}	
.news{
	
	width: 98%;
	height: 100%;
	background-color: yellow;
	margin: 1% 1% 0% 0%;
}

.right, .left {
	display: none;
}

}
}

